@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

*{
    font-family: '微软雅黑'
}
.main {
    width: 90%;
    max-width: 1400px;
    min-width: 960px;
    margin: 15px auto;
}
.header-nav {
    position: fixed;
    top: 60px;
    right: 0;
    left: 0;
    z-index: 999;
    height: 48px;
    background-color: #303F9F;
}

.header-background {
    position: fixed;
    top: 108px;
    right: 0;
    left: 0;
    height: 213px;
    background-color: #303F9F;
}

.topic-top,
.topic-good {
    background: #80bd01;
    padding: 2px 4px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
}

div pre.prettyprint{
    font-size: 14px;
    border-radius: 0;
    padding: 0 15px;
    border: none;
    border-width: 1px 0;
    background: #f7f7f7;
    line-height: 29px;
}

.topic-page h3 {
    font-size: 24px;
    padding-top: 24px;
    padding-bottom: 5px;
    margin: 0px;
    border-bottom: 1px solid #eef;
}

.md-theme-default code:not(.hljs) {
    background-color: transparent !important;
}